* {
    color: #eceff4;
}

window {
    margin: 0px;
    border: 1px solid #4c566a;
    background-color: #4c566a;
    border-radius: 10px;
    }
    
    #input {
    margin: 5px;
    border: none;
    color: #eceff4;
     background-color: #434c5e;
    }
 
    #inner-box {
    margin: 5px;
    border: none;
    background-color: #4c566a;
    }
    
    #outer-box {
    margin: 5px;
    border: none;
    background-color: #4c566a;
    }
    
    #scroll {
    margin: 0px;
    border: none;
    }
    
    #text {
    margin: 5px;
    border: none;
    color: #eceff4;
    background-color: inherit;
    }
    

    #entry:selected {
    background-color: #3b4252;
    outline: none;
    }

    #entry:selected #text {
        font-weight: bold;
        }
    