* {
    color: #4c566a;
}


window {
    margin: 0px;
    border: 1px solid #d8dee9;
    background-color: #d8dee9;
    border-radius: 10px;
    }
    
    #input {
    margin: 5px;
    border: none;
    color: #4c566a;
    background-color: #eceff4;
    }
 
    #inner-box {
    margin: 5px;
    border: none;
    background-color: #d8dee9;
    }
    
    #outer-box {
    margin: 5px;
    border: none;
    background-color: #d8dee9;
    }
    
    #scroll {
    margin: 0px;
    border: none;
    }
    
    #text {
    margin: 5px;
    border: none;
    color: #4c566a;
    }
    

    #entry:selected {
    background-color: #b2bed4;
    outline: none;
    }

    #entry:selected #text {
        font-weight: bold;
        }
    