/* -----------------------------------------------------
 * -----------------------------------------------------
 * LOGOUT
 * -----------------------------------------------------
 * ----------------------------------------------------- */


 
/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-color: rgba(76,86,106, 0.90);
	background-size: cover;
}

button {
	color: #FFFFFF;
    font-size:20px;

    background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;

	border-style: solid;
	background-color: rgba(76, 86, 106, 1);
	border: none;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:hover {
    color: #FFFFFF;
	background-color: rgba(67, 76, 94, 1);
	border: none;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/reboot.png"));
}
