/* Nord Light Theme */

** {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: Material Design Icons, Inter;
    font-size: 13px;
  }
  
  window#waybar {
    background-color: rgba(216, 222, 233, 1.0);
    border-bottom: 0px;
  }
  
#workspaces {
    background-color: rgba(216, 222, 233, 1.0);
    margin: 0px 0px 0px 0px;
    padding: 6px 6px;
    opacity: 1;
    font-size: 13px;
    min-width: 170px;
}

  #workspaces button.empty {
    color: #b6b9be;
  }

#workspaces button {
    padding: 2px 8px;
    margin: 0px 2px;
    color: #979ba3;
    opacity: 1.0;
    transition: all 0.5s ease-in-out;
}

#workspaces button.active {
    padding: 2px 8px;
    margin: 0px 2px;
    color: #4c566a;
    background-color: #AEC2DA;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity:1;
    transition: all 0.5s ease-in-out;

}

  #memory,
  #custom-power,
  #battery,
  #backlight,
  #pulseaudio,
  #network,
  #clock,
  #tray {
  /*  border-radius: 4px;
    margin: 6px 3px;
    padding: 3px 12px;
    background-color: #1e1e2e;
    color: #3b4252; */
    background-color: rgba(216, 222, 233, 1.0);
    padding: 2px 10px;
    border-radius: 0px;
  }
  
  #custom-power {
    margin-right: 0px;
  }
   
  #memory {
    color: #4c566a;
  }

  #battery {
    color: #4c566a;
  }
   
  backlight {
    background-color: inherit;
  }

  #battery {
    padding: 0px 5px 0px 5px;
    font-size: 13px;
    color: #4c566a;

  }
  #battery.good {
    color: #a3be8c;
    background-color: inherit;
  }

  #battery.warning {
    color: #ebcb8b;
    background-color: inherit;
  }    

  #battery.critical {
    color: #bf616a;
    background-color: inherit;
  }	
  
  #pulseaudio {
    color: #4c566a;
  }
  
  #network {
    color: #4c566a;
    padding-right: 17px;
  }
  
  #clock {
    color: #4c566a;
    font-size: 18px;
  }
  
  #custom-power {
    color: #4c566a;
    opacity: 1;
  }
  
  
  tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: rgba(121, 140, 171, 1);
  }
  
  tooltip label {
  padding: 5px;
  background-color: rgba(121, 140, 171, 1);
  }
  
